.inputs{
    padding: 20px;
}
input{
    border: none;
    border-bottom: 2px solid grey;
}
input:focus{
    outline: none;
}

button{
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.todo{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.todo__div{
    border: 1px solid lightgray;
    padding: 10px;
    width: 300px;
    display: inline-table;
}
.todo__div input{
    width: 100%;
    margin-bottom: 15px;
    margin-top: 1.5rem;
    font-size: 1.1rem;
}